<div class="px-3">
  <div clas="theme-container">
    <div
      class="get-in-touch bg-primary"
      ngClass.lt-md="mt-3"
      fxLayout="row wrap"
      fxLayout.xs="column"
    >
      <!--  Your code to implement Get In Touch Feature-->
      <div>
        <img src="{{ getInTouchImage }}" alt="operator" />
      </div>
      <div class="content content-desc" fxLayoutAlign="center center">
        Looking for authentic food?
      </div>
      <div class="content" fxLayoutAlign="center center">
        <div class="customIcon"><mat-icon color="white">call</mat-icon></div>
        <div class="call-now">
          <span>Call Us Now</span>
          <span>(+91) 123 456 7890</span>
        </div>
      </div>
      <div class="content" fxLayoutAlign="center center">
        <button mat-flat-button color="white" class="uppercase">
          Get in touch
        </button>
      </div>
    </div>
  </div>
</div>
